<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Holiday Planner</title>

   

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
	new WOW().init();
    </script>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="header">
            <div class="col-sm-8 header-left">
                <div class="logo">

                    <a href="@Url.Action("Index", "Home")"><img src= "@Url.Content("~/Images/logo1.jpg")" alt="" /></a>
          
                </div>
                <div class="menu">
                    <a class="toggleMenu" href="#"><img src="~/Images/nav.png" alt="" /></a>
                    <ul class="nav" id="nav">
                        <li @*class="active"*@>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <div class="clearfix"></div>
                    </ul>
                    @*<script src="~/Scripts/responsive-nav.js"></script>*@
                </div>

                <!-- start search-->
                <div class="search-box">
                    <div id="sb-search" class="sb-search">
                        <form>
                            <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search"> </span>
                        </form>
                    </div>
                </div>
                <!----search-scripts---->
                @*<script src="js/classie.js"></script>
                    <script src="js/uisearch.js"></script>*@
                <script>
                    new UISearch(document.getElementById('sb-search'));
                </script>
                <!----//search-scripts---->
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-4 header_right">
                <div id="loginContainer">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm"}))
                        {
                            @Html.AntiForgeryToken()
                            <a href="#" id="loginButton"><img src="~/Images/login.png"><span> @Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</span></a>
                            <span>&nbsp;&nbsp;<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></span>

                        }
                    }
                    else
                    {
                        <a href="#" id="loginButton"><img src="~/Images/login.png"><span>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</span></a>
                       <span>&nbsp;&nbsp;@Html.ActionLink("Register", "Register", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</span>
                        
                    }
                    <div class="clearfix"></div>
                </div>
            <div class="clearfix"></div>
        </div>
    </div>
    </div>

    @RenderBody()
    <hr />
    <footer>
        <div class="footer">
            <div class="container">
                <div class="footer_top">
                    <h3>Subscribe to our newsletter</h3>
                    <form>
                        <span>
                            <i><img src="@Url.Content("~/Images/mail.png")" alt=""></i>
                            <input type="text" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}">
                            <label class="btn1 btn2 btn-2 btn-2g"> <input name="submit" type="submit" id="submit" value="Subscribe"> </label>
                            <div class="clearfix"> </div>
                        </span>
                    </form>
                </div>
                <div class="footer_grids">
                    <div class="footer-grid">
                        <h4>&copy; @DateTime.Now.Year - Holiday Planner Private Limited</h4>
                    </div>
                </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
    </footer>
</body>
</html>
<div id="backtotop">
    <a href="#topbar">
        <span></span>
        Back To Top
    </a>
</div>
<script type="text/javascript">
    if (window.location.hash) {
        if (window.location.hash.indexOf(".") != -1)
            window.location.hash = "";
    }

    var debug = false;
    var analytics = true;
</script>




<script type="text/javascript">
    $(document).ready(function () {



        $("#backtotop").click(function () {

            $('html,body').animate({
                scrollTop: $("body").offset().top
            }, 500);
            return false;

        });
        $(window).scroll(function () {

            var currentplan = $("#resultdetail").find(".tempplan:visible");

            var top = $(window).scrollTop();
            if (top <= 0) {
                $("#backtotop").hide();
                if (currentplan.size() > 0)
                    currentplan.find(".sendinquirybottom").hide();
            }
            else {
                $("#backtotop").show();
                if (currentplan.size() > 0)
                    currentplan.find(".sendinquirybottom").show();
            }




        });

    });
</script>





