
@model IEnumerable<HolidayPlanner.Models.InfoViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
    <link href="~/Content/infotable.css" rel="stylesheet" />
</head>
<body>
    <p>
        
    </p>

    <div>
    <h4> Facilities </h4>
    <table class="table">

        @for (int i = 0; i < Model.Count(); i=i+4)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => Model.ElementAt(i).FacilityType)
                </td>

                @if (Model.Count() > i + 1)
                {
                <td>
                    @Html.DisplayFor(modelitem => Model.ElementAt(i+1).FacilityType)
                </td>
                }
                else
                { <td></td> }

                @if (Model.Count() > i + 2)
                {
                <td>
                    @Html.DisplayFor(modelitem => Model.ElementAt(i+2).FacilityType)
                </td>
                }
                else
                { <td></td> }  

                @if (Model.Count() > i + 3)
                {
                    <td>
                        @Html.DisplayFor(modelitem => Model.ElementAt(i + 2).FacilityType)
                    </td>
                }
                else
                {
                <td></td> }  
                           
            </tr>
        }
    </table>
    </div>
    
    <hr />

    <div>
        <h4> Food </h4>
        <table class="table">

            @{
                var food = "";
                foreach (var item in Model)
                {
                    food = item.FoodDetails;
                    break;
                }

                var foodarray = food.Split(';');           
                
                 for (int i = 0; i < foodarray.Count(); i = i + 4)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelitem => foodarray[i])
                            </td>

                            @if (foodarray.Count() > i + 1)
                            {
                                <td>
                                    @Html.DisplayFor(modelitem => foodarray[i+1])
                                </td>
                            }
                            else
                            { <td></td> }

                            @if (foodarray.Count() > i + 2)
                            {
                                <td>
                                    @Html.DisplayFor(modelitem => foodarray[i + 2])
                                </td>
                            }
                            else
                            { <td></td> }

                            @if (foodarray.Count() > i + 3)
                            {
                                <td>
                                    @Html.DisplayFor(modelitem => foodarray[i + 3])
                                </td>
                            }
                            else
                            { <td></td> }

                        </tr>
                    }

            }
            
        </table>
    </div>

    <div>
        <h4> Policies </h4>
        <table class="table">

            @{
                var policies = "";
                foreach (var item in Model)
                {
                    policies = item.Policies;
                    break;
                }

                var policyarray = policies.Split(';');

                for (int i = 0; i < policyarray.Count(); i = i + 4)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelitem => policyarray[i])
                        </td>

                        @if (policyarray.Count() > i + 1)
                        {
                            <td>
                                @Html.DisplayFor(modelitem => policyarray[i + 1])
                            </td>
                        }
                        else
                        {
                        <td></td> }

                        @if (policyarray.Count() > i + 2)
                        {
                            <td>
                                @Html.DisplayFor(modelitem => policyarray[i + 2])
                            </td>
                        }
                        else
                        {
                        <td></td> }

                        @if (policyarray.Count() > i + 3)
                        {
                            <td>
                                @Html.DisplayFor(modelitem => policyarray[i + 3])
                            </td>
                        }
                        else
                        {
                        <td></td> }

                    </tr>
                }

            }

        </table>
    </div>




</body>
</html>

