@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/bundles/jquery")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")


<div class="banner">
    <div class="container_wrap">
        <h1>What are you looking for?</h1>
        <div class="dropdown-buttons">
            <div class="dropdown-button">
                <select class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
                    <option value="0">Dubai</option>
                    <option value="1">Australia</option>
                    <option value="2">Sri Lanka</option>
                    <option value="3">Newziland</option>
                    <option value="4">Pakistan</option>
                    <option value="5">United Kingdom</option>
                    <option value="6">United states</option>
                    <option value="7">Russia</option>
                    <option value="8">Mirum</option>
                </select>
            </div>
            <div class="dropdown-button">
                <select class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
                    <option value="0">Education</option>
                    <option value="1">tempor</option>
                    <option value="2">congue</option>
                    <option value="3">mazim </option>
                    <option value="4">mutationem</option>
                    <option value="5">hendrerit </option>
                    <option value="5"></option>
                    <option value="5"></option>
                </select>
            </div>
        </div>
        <form>
            <input type="text" value="Keyword, name, date, ..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Keyword, name, date, ...';}">
            <div class="contact_btn">
                <label class="btn1 btn-2 btn-2g"><input name="submit" type="submit" id="submit" value="Search"></label>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>
<div class="content_top">
    <div class="container">
        <div class="col-md-4 bottom_nav">
            <div class="content_menu">
                <ul>
                    <li class="active"><a href="#">Recommended</a></li>
                    <li><a href="#">Latest</a></li>
                    <li><a href="#">Highlights</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 content_dropdown1">
            <div class="content_dropdown">
                <select class="dropdown" tabindex="10" data-settings='{"wrapperClass":"metro"}'>
                    <option value="0">Dubai</option>
                    <option value="1">tempor</option>
                    <option value="2">congue</option>
                    <option value="3">mazim </option>
                    <option value="4">mutationem</option>
                    <option value="5">hendrerit </option>
                    <option value="5"></option>
                    <option value="5"></option>
                </select>
            </div>
            <div class="content_dropdown">
                <select class="dropdown" tabindex="10" data-settings='{"wrapperClass":"metro"}'>
                    <option value="0">Show Map</option>
                    <option value="1">tempor</option>
                    <option value="2">congue</option>
                    <option value="3">mazim </option>
                    <option value="4">mutationem</option>
                    <option value="5">hendrerit </option>
                    <option value="5"></option>
                    <option value="5"></option>
                </select>
            </div>
        </div>
        <div class="col-md-4 filter_grid">
            <ul class="filter">
                <li class="fil">Filter :</li>
                <li><a href=""> <i class="icon1"> </i> </a></li>
                <li><a href=""> <i class="icon2"> </i> </a></li>
                <li><a href=""> <i class="icon3"> </i> </a></li>
                <li><a href=""> <i class="icon4"> </i> </a></li>
                <li><a href=""> <i class="icon5"> </i> </a></li>
            </ul>
        </div>
    </div>
</div>
<div class="content_middle">
    <div class="container">
        <div class="content_middle_box">
            <div class="top_grid">
                <div class="col-md-3">
                    <div class="grid1">
                        <div class="view view-first">
                            <div class="index_img"><img src="~/Images/pic1.jpg" class="img-responsive" alt="" /></div>
                            <div class="sale">$2.980</div>
                            <div class="mask">
                                <div class="info"><i class="search"> </i> Show More</div>
                                <ul class="mask_img">
                                    <li class="star"><img src="~/Images/star.png" alt="" /></li>
                                    <li class="set"><img src="~/Images/set.png" alt="" /></li>
                                    <div class="clearfix"> </div>
                                </ul>
                            </div>
                        </div>
                        <i class="home"></i>
                        <div class="inner_wrap">
                            <h3>2 bedroom house for rent in Dubai</h3>
                            <ul class="star1">
                                <h4 class="green">Vision Agency</h4>
                                <li><a href="#"> <img src="~/Images/star1.png" alt="">(236)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="grid1">
                        <div class="view view-first">
                            <div class="index_img1"><img src="~/Images/pic6.jpg" class="img-responsive" alt="" /></div>
                            <div class="mask">
                                <div class="info"><i class="search"> </i> Show More</div>
                                <ul class="mask_img">
                                    <li class="star"><img src="~/Images/star.png" alt="" /></li>
                                    <li class="set"><img src="~/Images/set.png" alt="" /></li>
                                    <div class="clearfix"> </div>
                                </ul>
                            </div>
                        </div>
                        <i class="home1"> </i>
                        <div class="inner_wrap">
                            <h3>2 bedroom house for rent in Dubai</h3>
                            <ul class="star1">
                                <h4 class="yellow">Vision Agency</h4>
                                <li><a href="#"> <img src="~/Images/star2.png" alt="">(136)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="grid1">
                        <div class="view view-first">
                            <div class="index_img2"><img src="~/Images/pic2.jpg" class="img-responsive" alt="" /></div>
                            <div class="mask">
                                <div class="info"><i class="search"> </i> Show More</div>
                                <ul class="mask_img">
                                    <li class="star"><img src="~/Images/star.png" alt="" /></li>
                                    <li class="set"><img src="~/Images/set.png" alt="" /></li>
                                    <div class="clearfix"> </div>
                                </ul>
                            </div>
                        </div>
                        <i class="home2"> </i>
                        <div class="inner_wrap">
                            <h3>2 bedroom house for rent in Dubai</h3>
                            <ul class="star1">
                                <h4 class="blue">Vision Agency</h4>
                                <li><a href="#"> <img src="~/Images/star2.png" alt="">(136)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="grid1">
                        <div class="view view-first">
                            <div class="index_img"><img src="~/Images/pic3.jpg" class="img-responsive" alt="" /></div>
                            <div class="sale">$2.980</div>
                            <div class="mask">
                                <div class="info"><i class="search"> </i> Show More</div>
                                <ul class="mask_img">
                                    <li class="star"><img src="~/Images/star.png" alt="" /></li>
                                    <li class="set"><img src="~/Images/set.png" alt="" /></li>
                                    <div class="clearfix"> </div>
                                </ul>
                            </div>
                        </div>
                        <i class="home"></i>
                        <div class="inner_wrap">
                            <h3>2 bedroom house for rent in Dubai</h3>
                            <ul class="star1">
                                <h4 class="green">Vision Agency</h4>
                                <li><a href="#"> <img src="~/Images/star1.png" alt="">(236)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="middle_grid wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-md-6">
                    <div class="grid1">
                        <div class="index_img"><img src="~/Images/pic4.jpg" class="img-responsive" alt="" /></div>
                        <i class="m_home"> </i>
                        <ul class="vision">
                            <li>Vision Agency</li>
                            <li class="desc"><a href="#"> <img src="~/Images/star1.png" alt="">(236)</a></li>
                        </ul>
                        <div class="inner_wrap1">
                            <ul class="item_module">
                                <li class="module_left"><img src="~/Images/m1.jpg" class="img-responsive" alt="" /></li>
                                <li class="module_right">
                                    <img src="~/Images/m_star.png" class="img-responsive" alt="" />
                                    <h5>Lucy-p</h5>
                                    <p>"Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat."</p>
                                    <a href="#" class="content_btn">....read more</a>
                                </li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="grid1">
                        <div class="index_img1"><img src="~/Images/pic5.jpg" class="img-responsive" alt="" /></div>
                        <i class="m_home1"> </i>
                        <ul class="vision">
                            <li>Vision Agency</li>
                            <li class="desc"><a href="#"> <img src="~/Images/star2.png" alt="">(236)</a></li>
                        </ul>
                        <div class="inner_wrap1">
                            <ul class="item_module">
                                <li class="module_left"><img src="~/Images/m2.jpg" class="img-responsive" alt="" /></li>
                                <li class="module_right">
                                    <img src="~/Images/m_star1.png" class="img-responsive" alt="" />
                                    <h5>Lucy-p</h5>
                                    <p>"Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat."</p>
                                    <a href="#" class="content_btn">....read more</a>
                                </li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="top_grid wow fadeInRight" data-wow-delay="0.4s">
                <div class="col-md-3">
                    <div class="grid1">
                        <div class="view view-first">
                            <div class="index_img"><img src="~/Images/pic1.jpg" class="img-responsive" alt="" /></div>
                            <div class="sale">$2.980</div>
                            <div class="mask">
                                <div class="info"><i class="search"> </i> Show More</div>
                                <ul class="mask_img">
                                    <li class="star"><img src="~/Images/star.png" alt="" /></li>
                                    <li class="set"><img src="~/Images/set.png" alt="" /></li>
                                    <div class="clearfix"> </div>
                                </ul>
                            </div>
                        </div>
                        <i class="home"></i>
                        <div class="inner_wrap">
                            <h3>2 bedroom house for rent in Dubai</h3>
                            <ul class="star1">
                                <h4 class="green">Vision Agency</h4>
                                <li><a href="#"> <img src="~/Images/star1.png" alt="">(236)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="grid1">
                        <div class="view view-first">
                            <div class="index_img1"><img src="~/Images/pic2.jpg" class="img-responsive" alt="" /></div>
                            <div class="mask">
                                <div class="info"><i class="search"> </i> Show More</div>
                                <ul class="mask_img">
                                    <li class="star"><img src="~/Images/star.png" alt="" /></li>
                                    <li class="set"><img src="~/Images/set.png" alt="" /></li>
                                    <div class="clearfix"> </div>
                                </ul>
                            </div>
                        </div>
                        <i class="home1"> </i>
                        <div class="inner_wrap">
                            <h3>2 bedroom house for rent in Dubai</h3>
                            <ul class="star1">
                                <h4 class="yellow">Vision Agency</h4>
                                <li><a href="#"> <img src="~/Images/star2.png" alt="">(136)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="grid1">
                        <div class="view view-first">
                            <div class="index_img2"><img src="~/Images/pic6.jpg" class="img-responsive" alt="" /></div>
                            <div class="mask">
                                <div class="info"><i class="search"> </i> Show More</div>
                                <ul class="mask_img">
                                    <li class="star"><img src="~/Images/star.png" alt="" /></li>
                                    <li class="set"><img src="~/Images/set.png" alt="" /></li>
                                    <div class="clearfix"> </div>
                                </ul>
                            </div>
                        </div>
                        <i class="home2"> </i>
                        <div class="inner_wrap">
                            <h3>2 bedroom house for rent in Dubai</h3>
                            <ul class="star1">
                                <h4 class="blue">Vision Agency</h4>
                                <li><a href="#"> <img src="~/Images/star2.png" alt="">(136)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="grid1">
                        <div class="view view-first">
                            <div class="index_img"><img src="~/Images/pic3.jpg" class="img-responsive" alt="" /></div>
                            <div class="sale">$2.980</div>
                            <div class="mask">
                                <div class="info"><i class="search"> </i> Show More</div>
                                <ul class="mask_img">
                                    <li class="star"><img src="~/Images/star.png" alt="" /></li>
                                    <li class="set"><img src="~/Images/set.png" alt="" /></li>
                                    <div class="clearfix"> </div>
                                </ul>
                            </div>
                        </div>
                        <i class="home"></i>
                        <div class="inner_wrap">
                            <h3>2 bedroom house for rent in Dubai</h3>
                            <ul class="star1">
                                <h4 class="green">Vision Agency</h4>
                                <li><a href="#"> <img src="~/Images/star1.png" alt="">(236)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="bottom_grid wow bounce" data-wow-delay="0.4s">
                <div class="col-md-6">
                    <div class="grid1">
                        <div class="index_img1"><img src="~/Images/pic5.jpg" class="img-responsive" alt="" /></div>
                        <i class="m_home1"> </i>
                        <ul class="vision">
                            <li>Vision Agency</li>
                            <li class="desc"><a href="#"> <img src="~/Images/star2.png" alt="">(236)</a></li>
                        </ul>
                        <div class="inner_wrap1">
                            <ul class="item_module">
                                <li class="module_left"><img src="~/Images/m2.jpg" class="img-responsive" alt="" /></li>
                                <li class="module_right">
                                    <img src="~/Images/m_star.png" class="img-responsive" alt="" />
                                    <h5>Lucy-p</h5>
                                    <p>"Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat."</p>
                                    <a href="#" class="content_btn">....read more</a>
                                </li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="grid1">
                        <div class="view view-first">
                            <div class="index_img"><img src="~/Images/pic3.jpg" class="img-responsive" alt="" /></div>
                            <div class="sale">$2.980</div>
                            <div class="mask">
                                <div class="info"><i class="search"> </i> Show More</div>
                                <ul class="mask_img">
                                    <li class="star"><img src="~/Images/star.png" alt="" /></li>
                                    <li class="set"><img src="~/Images/set.png" alt="" /></li>
                                    <div class="clearfix"> </div>
                                </ul>
                            </div>
                        </div>
                        <i class="b_home"></i>
                        <div class="inner_wrap2">
                            <h3>2 bedroom house for rent in Dubai</h3>
                            <ul class="star1">
                                <h4 class="green">Vision Agency</h4>
                                <li><a href="#"> <img src="~/Images/star1.png" alt="">(236)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="grid1">
                        <div class="view view-first">
                            <div class="index_img1"><img src="~/Images/pic2.jpg" class="img-responsive" alt="" /></div>
                            <div class="mask">
                                <div class="info"><i class="search"> </i> Show More</div>
                                <ul class="mask_img">
                                    <li class="star"><img src="~/Images/star.png" alt="" /></li>
                                    <li class="set"><img src="~/Images/set.png" alt="" /></li>
                                    <div class="clearfix"> </div>
                                </ul>
                            </div>
                        </div>
                        <i class="b_home1"> </i>
                        <div class="inner_wrap2">
                            <h3>2 bedroom house for rent in Dubai</h3>
                            <ul class="star1">
                                <h4 class="yellow">Vision Agency</h4>
                                <li><a href="#"> <img src="~/Images/star2.png" alt="">(136)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="offering">
            <h2>What can DuHoot offer to you ?</h2>
            <h3>Ut wisi enim ad minim veniam, quis</h3>
            <ul class="icons wow fadeInUp" data-wow-delay="0.4s">
                <li><i class="icon1"> </i><span class="one"> </span></li>
                <li><i class="icon2"> </i><span class="two"> </span></li>
                <li><i class="icon3"> </i><span class="three"> </span></li>
                <li><i class="icon4"> </i><span class="four"> </span></li>
                <li><i class="icon5"> </i></li>
            </ul>
            <div class="real">
                <h4>Reality</h4>
                <div class="col-sm-6">
                    <ul class="service_grid">
                        <i class="s1"> </i>
                        <li class="desc1 wow fadeInRight" data-wow-delay="0.4s">
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum</p>
                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="service_grid">
                        <i class="s2"> </i>
                        <li class="desc1 wow fadeInRight" data-wow-delay="0.4s">
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum</p>
                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
   </div>
<div class="footer">
    <div class="container">
        <div class="footer_top">
            <h3>Subscribe to our newsletter</h3>
            <form>
                <span>
                    <i><img src="~/Images/mail.png" alt=""></i>
                    <input type="text" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}">
                    <label class="btn1 btn2 btn-2 btn-2g"> <input name="submit" type="submit" id="submit" value="Subscribe"> </label>
                    <div class="clearfix"> </div>
                </span>
            </form>
        </div>
        <div class="footer_grids">
            <div class="footer-grid">
                <h4>Ipsum Quis</h4>
                <ul class="list1">
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="#">Mirum est</a></li>
                    <li><a href="#">placerat facer</a></li>
                    <li><a href="#">claritatem</a></li>
                    <li><a href="#">sollemnes </a></li>
                </ul>
            </div>
            <div class="footer-grid">
                <h4>Quis Ipsum</h4>
                <ul class="list1">
                    <li><a href="#">placerat facer</a></li>
                    <li><a href="#">claritatem</a></li>
                    <li><a href="#">sollemnes </a></li>
                    <li><a href="#">Claritas</a></li>
                    <li><a href="#">Mirum est</a></li>
                </ul>
            </div>
            <div class="footer-grid last_grid">
                <h4>Follow Us</h4>
                <ul class="footer_social wow fadeInLeft" data-wow-delay="0.4s">
                    <li><a href=""> <i class="fb"> </i> </a></li>
                    <li><a href=""><i class="tw"> </i> </a></li>
                    <li><a href=""><i class="google"> </i> </a></li>
                    <li><a href=""><i class="u_tube"> </i> </a></li>
                </ul>
                <div class="copy wow fadeInRight" data-wow-delay="0.4s">
                    <p>&copy; Template by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>




@*<link href="~/Content/Index_Backgroung.css" rel="stylesheet" />

<div class="BackgroundTest">
    <p class="lead"> Holiday Planner </p>
    
</div>*@

